<!--
  Robot bringup file for the University of Washington PR2.
  Includes both the PR2 robot bringup, but also common nodes that are used by multiple applications.
  See https://github.com/hcrlab/rws/wiki/What-to-put-in-app.launch
 -->
<launch>
  <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch" />

  <!-- Web video server -->
  <node name="web_video_server" pkg="web_video_server" type="web_video_server" output="screen">
    <param name="port" value="8080" />
  </node>

  <node name="robot_pose_publisher" pkg="robot_pose_publisher" type="robot_pose_publisher" output="screen" />

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />

  <!-- TF web republisher -->
  <node name="tf2_web_republisher" pkg="tf2_web_republisher" type="tf2_web_republisher" />

  <!-- Interactive marker proxy will need to go here eventually -->

  <!-- MoveIt! -->

  <!-- Custom landmarks -->

  <!-- Cheats and special cases -->
  <!--
    CodeIt programs database.
    We're cheating by placing this in this file because CodeIt is the only user of this.
    It allows CodeIt programs to instantly load.
  -->
  <!-- <node pkg="code_it" type="programs.py" name="program_db" /> -->

</launch>
